#contents {
  height: 100%;
}

.entrance {
  height: 100%;
  background: #212121 url(../images/bg/hero_graphic.svg) no-repeat center;
  background-size: 70% 70%;
  display: flex;
  align-items: center;
  justify-content: center;

  .poweredby {
    position: absolute;
    top: 15px;
    left: 15px;

    .gcp-logo {
      width: 45px;
    }

    h1 {
      font-size: x-small;
      color: #CCCCCC;
    }
  }

  .launch-button {
    padding: 20px 30px;
    background: #00BCD4;
    color: #FAFAFA;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
  }

  nav {
    text-align: center;
    margin-top: 20px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: block;
      margin-top: 10px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #ccc;
      }
    }
  }
}
