@import "./toolbox-theme";

.face-detection-overlay {
  svg {
    .cls-1 {
      color: red;
    }
  }
  &:nth-child(3n+2) {
    .face-bounding-poly {
      border: solid 2px $sidebar-primary-color-1;
    }
    .face-id {
      color: $sidebar-primary-color-1;
    }
  }
  &:nth-child(3n+0) {
    .face-bounding-poly {
      border: solid 2px $sidebar-secondary-color-1;
    }
    .face-id {
      color: $sidebar-secondary-color-1;
    }
  }
  &:nth-child(3n+1) {
    .face-bounding-poly {
      border: solid 2px $sidebar-third-color-1;
    }
    .face-id {
      color: $sidebar-third-color-1;
    }
  }
}

.image-view {
  position: relative;

  .focused-image {
    position: absolute;
    display: block;
    border: solid 2px black;
    z-index: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
  }

  .face-bounding-poly {
    border: solid 2px $sidebar-primary-color-1;
    position: absolute;
    padding: 0 1px 1px 0;
  }

  .face-id {
    color: $sidebar-primary-color-1;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-left: -6px;
    margin-bottom: -27px;
  }

  .face-landmark {
    position: absolute;
    margin-top: -1px;
    margin-left: -1px;
    width: 6px;
    height: 6px;
    z-index: 1;
  }
}
