.sidebar
  background: #212121

  aside
    display: flex
    height: 100%
    flex-direction: column

  .feature-indicator
    list-style-type: none
    padding: 0
    margin: 0

    li
      text-align: center
      padding: 10px 5px
      background: #424242
      color: #757575

      &.active
        background: #3949AB
        color: #9FA8DA

  .detail-tab
    flex-grow: 1

    section
      flex-grow: 1

    label
      background: #424242
      color: #757575
      text-align: center

      &.active
        background: #3949AB
        color: #9FA8DA
