@import "./toolbox-theme";

.sidebar {
  font-size: 115%;
  background: #212121;
  border: none !important;

  ::-webkit-scrollbar {
    width: 1em;
    background: #616161;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: #BDBDBD;
  }

  aside {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .feature-indicator {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      text-align: center;
      color: $sidebar-button-off-color-1;
      background: $sidebar-button-off-color-2;
      flex-grow: 1;

      &.active {
        color: $sidebar-button-on-color-1;
        background: $sidebar-button-on-color-2;
      }

      button {
        padding: 15px 0;
        width: 100%;
        min-width: 0;
        border-radius: 0;
        color: inherit !important;

        .material-icons {
          line-height: 1em;
          font-size: 24px;
          margin: 0;
        }
      }

      .custom-icon {
        margin-top: 4px;
        width: 20px;
        height: 20px;
        line-height: 1em;
        vertical-align: baseline;

        svg .cls-1 {
          fill: currentColor;
        }
      }
    }
  }

  .detail-tab {
    flex-grow: 1;

    > section {
      flex-grow: 1;
      color: $sidebar-text-color;
      overflow-y: scroll;
      height: 500px;
      padding: 0;

      pre {
        color: #9E9E9E;
        padding: 0;
        margin: 10px;
      }
    }

    .tab-graph > section {
      font-weight: bold;
      box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23);
      padding: 30px 30px 50px;

      .result-caption {
        display: block;
        color: #9E9E9E;
        margin-bottom: 20px;
      }

      &.label-detection .label {
        margin-bottom: 0.5em;

        &:last-child {
          margin-bottom: 0;
        }

        .label-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .label-score {
          display: flex;
          align-items: center;
          color: $sidebar-primary-color-1;

          .label-score-bar {
            height: 6px;
            margin-right: 1em;
          }
        }
      }

      &.text-detection {
        padding-bottom: 35px;

        p {
          position: relative;
          display: flex;
          padding-right: 30px;
          margin: 0;
        }

        .text-quote {
          color: #455A64;
          font-size: 3em;

          &.post {
            position: absolute;
            bottom: 0.1em;
          }
        }

        .text-description {
          color: $sidebar-text-color;
          font-size: 1.5em;
          padding: 0.6em 0.4em;
        }
      }

      &.safesearch-detection {
        padding-top: 2em;

        .likelihoods-row {
          display: flex;
          margin-bottom: 0.8em;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .likelihood {
          flex-grow: 1;
          margin-right: 1em 1em 0.8em 0;
        }

        .likelihood-label {
          margin-bottom: 1em;
        }

        .likelihood-level {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;

          li {
            margin-right: 0.8em;
            height: 0.8em;
            width: 0.8em;
            background: $sidebar-primary-color-off;

            &.active {
              background: $sidebar-primary-color-2;
            }
          }
        }
      }

      &.face-detection {
        .highlight-face-landmarks {
          display: flex;
          align-items: center;
          margin-bottom: 1em;

          > img {
            width: 45px;
            height: 45px;
          }

          .highlight-face-landmarks-label {
            flex-grow: 1;
            margin-left: 2em;
            color: $sidebar-text-color;
          }

          label {
            margin-bottom: 0;
          }
        }

        .face-detection-person {
          display: flex;
          margin-bottom: 1.8em;

          &:last-child {
            margin-bottom: 0;
          }

          .face-view {
            width: 80px;
            height: 80px;
          }

          &.primary {
            color: $sidebar-primary-color-2;

            .humanoid {
              color: $sidebar-primary-color-1;
            }
          }

          &.secondary {
            color: $sidebar-secondary-color-2;

            .humanoid {
              color: $sidebar-secondary-color-1;
            }
          }

          &.third {
            color: $sidebar-third-color-2;

            .humanoid {
              color: $sidebar-third-color-1;
            }
          }

          > * {
            margin-right: 1.5em;
          }
        }

        .humanoid {
          font-size: 80px;
        }

        .person-label {
          text-align: center;
        }

        .angle {
          display: flex;
          align-items: center;
          margin-top: 20px;

          .angle-label {
            flex-basis: 2em;
            color: $sidebar-text-color;
            font-size: 80%;
            margin-right: 0.5em;
          }

          .angle-value {
            margin-left: 0.5em;
            margin-top: 0.05em;
            padding-bottom: 0.05em;
            width: 100%;
            text-align: right;
          }
        }

        .likelihoods {
          margin-top: 15px;
        }

        .likelihood {
          align-items: center;
          display: flex;
          margin-bottom: 1.1em;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .likelihood-icon {
          flex-basis: 2em;
          font-size: 24px;

          &.custom-icon {
            svg {
              width: 20px;
              height: 20px;
              margin: 0 0 -2px 2px;
            }

            .cls-1 {
              fill: currentColor;
            }
          }

          &.headwear {
            margin-right: 10px;
          }
        }

        .likelihood-label {
          color: $sidebar-text-color;
          flex-basis: 7em;
          font-size: 80%;
        }

        .likelihood-level {
          margin: 0;
          padding: 0;
          flex-grow: 1;
          list-style-type: none;
          display: flex;

          li {
            margin-left: 0.66em;
            height: 0.66em;
            width: 0.66em;
            background: $sidebar-primary-color-off;

            &.active {
              background: currentColor;
            }
          }
        }
      }

      &.image-properties {
        ul {
          list-style-type: none;
          display: flex;
          margin: 0;
          padding: 0;
          border: solid 1px #454545;
        }

        li {
          height: 100px;
        }
      }

      &.landmark-detection, &.logo-detection {
        .plus-title {
          margin-top: 10px;
        }

        svg {
          rect {
            fill: #1de9b6;
          }
        }

        .description {
          margin: 0;
          font-size: 1.5em;
        }
      }
    }
  }

  nav {
    display: flex;

    label {
      flex-grow: 1;
      color: $sidebar-button-off-color-1;
      background: $sidebar-button-off-color-2;
      text-align: center;
      text-transform: none;
      font-weight: bold;

      &.active {
        color: $sidebar-button-on-color-1;
        background: $sidebar-button-on-color-2;
      }
    }
  }
}
