@import './toolbox-theme'

.sidebar
  background: #212121
  border: none !important

  ::-webkit-scrollbar
    width: 1em
    background: #616161

  ::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)

  ::-webkit-scrollbar-thumb
    background: #BDBDBD

  aside
    display: flex
    flex-direction: column
    height: 100%

  .feature-indicator
    list-style-type: none
    padding: 0
    margin: 0

    li
      text-align: center
      padding: 10px 5px
      background: #424242
      color: #757575

      &.active
        background: #3949AB
        color: #9FA8DA

      .custom-icon
        width: 21px
        height: 21px
        display: inline-block
        margin-top: 2px
        background-color: currentColor

        &.logo_detection
          -webkit-mask-image: url(../images/icon/logo_detection.svg)

        &.safesearch
          -webkit-mask-image: url(../images/icon/safesearch.svg)

  .detail-tab
    flex-grow: 1

    > section
      color: #CFD8DC
      overflow-y: scroll
      height: 500px
      padding: 0

      pre
        color: #9E9E9E
        padding: 0
        margin: 10px

    .tab-graph section
      min-height: 150px
      box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
      padding: 20px 30px

      &.label-detection .row
        line-height: 2em
        margin-right: 10px
        align-items: center

        .score
          color: $sidebar-primary-color-1

      &.text-detection
        .text-quote
          color: #455A64
          font-size: 3em

        .text-description
          color: #9E9E9E
          font-size: 1.5em

      &.face-detection
        .face-detection-person
          display: flex
          margin-bottom: 30px

          > *
            margin-right: 20px

        .humanoid
          font-size: 80px

          &.primary
            color: $sidebar-primary-color-1

        .person-label
          text-align: center

        .angle
          display: flex
          align-items: center
          margin-top: 20px

          .angle-label
            flex-basis: 2em

          .Donut
            color: $sidebar-primary-color-2 !important

        .likelihoods
          margin-top: 15px

        .likelihood
          align-items: center
          display: flex
          margin-bottom: 1.2em

        .likelihood-icon
          flex-basis: 2em
          color: $sidebar-primary-color-2

        .likelihood-label
          flex-basis: 7em
          font-size: 80%

        .likelihood-level
          margin: 0
          padding: 0
          flex-grow: 1
          list-style-type: none
          display: flex

          li
            margin-left: 0.5em
            height: 0.5em
            width: 0.5em
            background: $sidebar-primary-color-off

            &.active
              background: $sidebar-primary-color-2

    label
      background: #424242
      color: #757575
      text-align: center
      text-transform: none

      &.active
        background: #3949AB
        color: #9FA8DA
